<!DOCTYPE HTML>

<html>
	<head>
		<title>영업맨 관리자 모드</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/a_assets/css/main.css" />
	</head>
	<body>

			<div id="header">
				<div class="top">
						<div id="logo">
							<h1 id="title">관리자</h1>
							<p>경관공학연구소</p>
						</div>
						<nav id="nav">
							<ul>
								<li><a href="#mList" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Notification</span></a></li>
							</ul>
						</nav>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">영업맨</h2>
								<p>검색 없는 맞춤 정보</p>
								
							</header>
<footer>
													<form method="post" action="/web/logout">
                    					<button type="submit">Logout</button>
					</form>
							</footer>
						</div>
					</section>
				<!-- Notification -->
					<section id="mList" class="two">
						<div class="container">

							<header>
								<h2>Notification List</h2>
							</header>

								<p>공지사항을 추가하며 함께 푸시알림을 보냅니다</p>
								<form method='POST' action='/notice/new'>
									<input type='text' name='Title' id='Title' placeholder='제목'/>
									<br>
									<input type='text' name='Content' id='Content' placeholder='내용'/>
									<br>
									<input type='submit' value='보내기'/>
								</form>

						</div>
					</section>



		<!-- Scripts -->
			<script src="/a_assets/js/jquery.min.js"></script>
			<script src="/a_assets/js/jquery.scrolly.min.js"></script>
			<script src="/a_assets/js/jquery.scrollzer.min.js"></script>
			<script src="/a_assets/js/skel.min.js"></script>
			<script src="/a_assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/a_assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/a_assets/js/main.js"></script>

	</body>
</html>