<!DOCTYPE HTML>
<html>
	<head>
		<title>::영업맨 사용자 이용권 계약::</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

			<section id="footer">
				<header class="major">
				<br><br><br>
				<p>사용자 이용권 계약</p>
				</header>
				<div class="container">
					
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.
					약관 내용입니다.

				</div>
			</section>


			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>