<!DOCTYPE HTML>

<html>
	<head>
		<title>영업맨 크롤링 사이트 추가</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/a_assets/css/main.css" />
	</head>
	<body>

			<div id="header">
				<div class="top">
						<div id="logo">
							<h1 id="title">Guest</h1>
							<p>경관공학연구소</p>
						</div>
						<nav id="nav">
							<ul>
								<li><a href="#mList" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Information</span></a></li>
							</ul>
						</nav>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">영업맨</h2>
								<p>검색 없는 맞춤 정보</p>
								
							</header>
<footer>
													
							</footer>
						</div>
					</section>
				<!-- Notification -->
					<section id="mList" class="two">
						<div class="container">

							<header>
								<h2>Form</h2>
							</header>

								<p>영업맨 데이터베이스에 크롤링 사이트를 추가합니다.</p>
							<h5>주의) 입찰(물품0/공사1/용역2/미분류3), 계약(물품4/공사5/용역6/미분류7)</h5>
								<form method='POST' action='/company/crawler'>
									<input type='text' name='Name' id='Name' placeholder='출처/담당처(ex:서울시 나라장터)'/>
									<br>
									<input type='text' name='Url' id='Url' placeholder='주소(http:// 혹은 https:// 필수)'/>
									<br>
									<input type='text' name='Status' id='Status' placeholder='구분번호(필히 위 구분번호 참조)'/>
									<br>
									<input type=hidden name='LastGet' value='0'>
						
									<input type='submit' value='보내기'/>
								</form>

						</div>
					</section>



		<!-- Scripts -->
			<script src="/a_assets/js/jquery.min.js"></script>
			<script src="/a_assets/js/jquery.scrolly.min.js"></script>
			<script src="/a_assets/js/jquery.scrollzer.min.js"></script>
			<script src="/a_assets/js/skel.min.js"></script>
			<script src="/a_assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/a_assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/a_assets/js/main.js"></script>

	</body>
</html>